@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'SF Pro Display', sans-serif;
}

#main {
    position: relative;
    overflow: hidden;
}

#section-1 {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#navigation {
    position: relative;
    height: 7vh;
    background-color: #fbfbfd;
    z-index: 1;
}

#navigation > nav {
    height: 7vh;
    width: 50vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navigation > nav > #nav-elements{
    display: flex;
    align-items: center;
    justify-content: start;
}

#section-1 > nav > h3 {
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
}

#nav-elements > h5 {
    font-size: 13px;
    font-weight: 300;
    padding-right: 20px;
}

#nav-elements > button {
    padding: 7px 20px;
    border-radius: 50px;
}

#nav-elements > button > a {
    text-decoration: none;
    color: inherit;
}

#nav-elements > #btn-1 {
    border: 1px solid #000000;
    background-color: transparent;
    margin-right: 20px;
}

#nav-elements > #btn-1:hover {
    background-color: #000000;
    color: #ffffff;
}

#nav-elements > #btn-2 {
    color: #ffffff;
    border: 1px solid #0071e8;
    background-color: #0071e8;
    margin-right: 20px;
}

#nav-elements > #btn-2:hover {
    background-color: transparent;
    color: #0071e8;
}

#section-1 video {
    position: absolute;
    width: 50vw;
    height: 110vh;
    object-fit: cover;
    left: 50%;
    transform: translate(-50%);
}

#section-1-element {
    position: absolute;
    height: 20%;
    width: 25%;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

#section-1-element > img {
    padding-bottom: 20px;
}

#section-1-element > h3 {
    font-weight: 500;
    font-size: 24px;
    color: #ff5a00;
    cursor: pointer;
}

#section-1-element > h3:hover {
    text-decoration: underline;
}

#section-2, #section-4, #section-6, #section-8, #section-10, #section-12 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

#section-2 video, #section-4 video, #section-6 video, #section-8 video, #section-10 video, #section-12 video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.sect-2-elements, .sect-4-elements, .sect-6-elements, .sect-8-elements, .sect-10-elements, .sect-12-elements {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 6;
}

.sect-2-elements p {
    font-size: 2.5vw;
    color: #ffffff;
    font-weight: 600;
    padding-bottom: 40px;
}

.sect-2-elements > button {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 50px;
    background-color: transparent;
    border: 3px solid #e4660f;
    color: #e4660f;
}

.sect-2-elements > button:hover {
    background-color: #e4660f;
    color: #ffffff;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

#section-3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section-3 img {
    width: 17vw;
    margin-bottom: 12vh;
}

#section-3 canvas {
    width: 50vw;
}

#section-3 > button {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 50px;
    background-color: transparent;
    border: 3px solid #000000;
    color: #000000;
}

#section-3 > button:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.sect-4-elements h4, .sect-6-elements h4, .sect-8-elements h4, .sect-10-elements h4, .sect-12-elements h4 {
    font-size: 1vw;
    color: #ffffff;
}

.sect-4-elements p, .sect-6-elements p, .sect-8-elements p, .sect-10-elements p, .sect-12-elements p {
    font-size: 4vw;
    color: #ffffff;
    font-weight: 600;
    padding-bottom: 40px;
}

#section-5, #section-7, #section-9, #section-11 {
    position: relative;
    background-color: #ffffff;
    height: 60vh;
    width: 100vw;
    padding: 7vh 15vw;
    display: flex;
    align-items: center;
}

.sec-5-left, .sec-5-right, .sec-7-left, .sec-7-right, .sec-9-left, .sec-9-right, .sec-11-left, .sec-11-right {
    width: 50%;
    height: 100%;
}

.sec-5-left, .sec-7-left, .sec-9-left, .sec-11-left {
    display: flex;
    align-items: flex-start;
}

.sec-5-left h3, .sec-7-left h3, .sec-9-left h3, .sec-11-left h3 {
    font-size: 2.5rem;
    padding-left: 5vw;
}

.sec-5-right p, .sec-7-right p, .sec-9-right p, .sec-11-right p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 29px;
    color: #86868b;
    padding-right: 5vw;
}

.sec-5-right > button, .sec-7-right > button, .sec-9-right > button, .sec-11-right > button {
    margin-top: 60px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 50px;
    background-color: #ff5a00;
    border: 3px solid #ff5a00;
    color: #ffffff;
}

.sec-5-right > button:hover, .sec-7-right > button:hover, .sec-9-right > button:hover, .sec-11-right > button:hover {
    background-color: #ff7d20;
    color: #ffffff;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    border: 3px solid #ff7d20;
}